<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <%= image_tag("CrookedDees.jpg", alt: "Responsive image", class: "img-fluid", style: "width: 100%") %>
    <h1 class="display-3">Dentist Appoinment Manager</h1>
    <p class="lead">Manage your dentist appointment through this site, just choose your doctor and date and time</p>
    <hr class="my-4">
    <p>Once the receptionist accepts your appointment request, you will receive a confirmation SMS</p>
  </div>
</div>
